.title {
  color: blue;
}

.card a {
  text-decoration: none;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.cardLeft {
  display: flex;
  flex-direction: column;
}

.title {
  color: #444;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  text-decoration: none !important;
}

.subtitle {
  font-size: 14px;
  color: #8f8c8c;
  margin-top: 4px;
  font-family: Montserrat;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  color: #80e273;
}

.free_bikes {
  font-size: 14px;
  color: #1a3f62;
  font-family: Montserrat;
  font-weight: 600;
}

.empty_slots {
  font-size: 14px;
  color: #1a3f62;
  font-family: Montserrat;
  font-weight: 600;
}

.bikeIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.slotsIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.bikeInfo {
  display: flex;
  gap: 16px; /* Adjust spacing between free bikes and empty slots */
  align-items: center;
}

.free_bikes,
.empty_slots {
  display: flex;
  align-items: center;
}

.bikeIcon,
.slotsIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
