@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  margin: 40px;
}

.logo {
  width: 60px;
  height: auto; /* keeps aspect ratio */
  margin: 20px auto 40px auto;
  display: block;
}

.title {
  color: #1a3f62;
  font-family: montserrat;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Optional: styling for toggle view icons */
.toggleView {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
}

.name {
  text-decoration: none;
}

.filterInput {
  padding-left: 40px; /* Add padding to make space for the icon */
  width: 80%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  border: 2px solid #ccc;
  font-family: montserrat;
}

.filterInput:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
